@font-face {
    font-family: 'thenightwatch';
    src: url('/fonts/thenightwatch.ttf');
}

@font-face {
  font-family: 'playfairdisplay';
  src: url('/fonts/PlayfairDisplay.ttf');
}

@font-face {
  font-family: 'playfairdisplay-italic';
  src: url('/fonts/PlayfairDisplay-Italic.ttf');
}

@font-face {
  font-family: 'pathwaygothic';
  src: url('/fonts/PathwayGothicOne-Regular.ttf');
}

@font-face {
  font-family: 'droid';
  src: url('/fonts/Droid.otf');
}


:root {
    --red: #D00000;
    --white: #F5F5F5;
    --black: #000000;
  }

  html,
  body {
    margin: 0;
    padding: 0;
    -webkit-font-smoothing : antialiased;
    scroll-behavior: smooth;

  }
  
  h1 {
    font-family: thenightwatch;
  }

  .slide {
    min-height: 100vh;
    max-height: 100vh;
    }

    .number {
      font-family: thenightwatch;
    }

  .slide-1 {
    background: linear-gradient(
      rgba(0, 0, 0, 0.07), 
      rgba(0, 0, 0, 0.07)
    ),url('/images/image-1b.jpeg');
    background-size:110%;
    background-repeat: no-repeat;
    background-position: 0% 40%;
    height: 100vh;
  }

  .titles {
    margin: 0;
    padding: 1.1rem 0 0 3rem;
  }

  .main-title {
    margin: 0;
    font-size : 2.5rem;
    color: var(--red);
    /* text-shadow: 0 0.0008em black; */
    font-weight: normal;
  }

  .main-title > h1 {
    padding: 0;
    margin: 0;
  }

  .titles > h2 {
    margin: 0;
    padding-top: 0rem;
    font-size: 1.8rem;
    color: var(--white); 
  }

  .slide-2 {
    background-color: var(--red);
    display: flex;
    overflow-y: hidden;
  }

  #left-side-s2 {
    min-width: 45%;
    border-right: 0.08rem solid black;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
  
  #left-side-s2 > h2 {
    margin: 0;
    padding: 0;
    font-size: 3rem;
    color: var(--white);
    font-family: playfairdisplay;
    font-weight: lighter;
  }
  
  #left-side-s2 > h1 {
    font-size: 41rem;
      margin: 0;
      color: white;
      font-weight: normal;
      align-self: flex-end;
  }

  #right-side-s2 {
    width: 50%;
    padding: 0 12rem;
  }

.paragraph-s2 {
  font-size: 1.2rem;
  min-height: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.paragraph-s2 p {
  text-align: start;
  vertical-align: center;
}

.bottompage-s2 {
  display: flex;
  height: 20%;
}

.bottompage-s2 > h2 {
  color: var(--white);
  font-family: pathwaygothic;
  text-transform: uppercase;
  font-size: 6rem;
  margin: 0;
  width: 50%;
  font-weight: normal;
  letter-spacing: -0.4rem;

}

.bottompage-s2 > p {
  width: 50%;
  color: var(--white);
  font-family: playfairdisplay-italic;
}

.slide-3 {
background: url('/images/image-2.jpg');
background-size: cover;
}

.slide-4 {
  background-color: white;
  display: flex;
}

#left-side-s4 {
  min-width: 45%;
  border-right: 0.08rem solid var(--red);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

#left-side-s4 > h2 {
  margin: 0;
  padding: 0;
  font-size: 3rem;
  color: var(--black);
  font-family: playfairdisplay;
  font-weight: lighter;
}

#left-side-s4 > h1 {
  font-size: 35rem;
  margin: 0;
  color: var(--black)
  font-weight: normal;
  align-self: flex-end;
}


#right-side-s4 {
width: 50%;
padding: 0 9rem;
}

.paragraph-s4 {
  font-size: 1.2rem;
  min-height: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.paragraph-s4 p {
  text-align: start;
  vertical-align: center;
  color: var(--red);
}

.bottompage-s4 {
  height: 10%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

#icon-s4 {
  height: 2rem;
  width: 2rem;
}

.slide-5 {
  background: url('/images/image-3.png');
  background-size: cover;
  }

.slide-6 {
  background-color: black;
  display: flex;

}

#left-side-s6 {
  min-width: 45%;
  border-right: 0.08rem solid var(--white);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

#left-side-s6 > h2 {
  margin: 0;
  padding: 0;
  font-size: 3rem;
  color: var(--red);
  font-weight: lighter;
}

#left-side-s6 > h1 {
  font-size: 35rem;
  margin: 0;
  color: var(--red);
  font-weight: normal;
  align-self: flex-end;
}


#right-side-s6 {
width: 50%;
padding: 0 9rem;
}

.paragraph-s6 {
  font-size: 1.2rem;
  min-height: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.paragraph-s6 p {
  text-align: start;
  vertical-align: center;
  color: var(--white);
}

.bottompage-s6 {
  height: 10%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

#icon-6 {
  height: 2rem;
  width: 2rem;
}
