@font-face {
    font-family: 'thenightwatch';
    src: url('../fonts/thenightwatch.ttf');
}

@font-face {
  font-family: 'playfairdisplay';
  src: url('../fonts/PlayfairDisplay.ttf');
}

@font-face {
  font-family: 'playfairdisplay-italic';
  src: url('../fonts/PlayfairDisplay-Italic.ttf');
}

@font-face {
  font-family: 'pathwaygothic';
  src: url('../fonts/PathwayGothicOne-Regular.ttf');
}

@font-face {
  font-family: 'glusp';
  src: url('../fonts/glusp.ttf');
}

@keyframes apparition {
  100%{
    opacity: 1;
    transform: none;
  }
}

@keyframes backFadeIn{
  from {background-color: rgba(255,255,255,1);}
  to {background-color: rgba(255,255,255,0);}
}

:root {
    --red: #D00000;
    --white: #F5F5F5;
    --black: #000000;
  }

  body {
    margin: 0;
    padding: 0;
    -webkit-font-smoothing : antialiased;
    overscroll-behavior: none;
    height: 100vh;
  }

  .container {
    overscroll-behavior: none;
    width: 600%;
    height: 100%;
    display: flex;
    flex-wrap: nowrap;
  }
  
  h1 {
    font-family: thenightwatch;
  }

  .slide {
    min-height: 100vh;
    max-height: 100vh;
    min-width: 100vw;
    }

  .number {
    font-family: glusp;
    font-size: 25rem;
    padding-right: 5%;
  }

  .slide-1 {
    height: 100vh;
    background: linear-gradient(
      rgba(0, 0, 0, 0.07), 
      rgba(0, 0, 0, 0.07)
    ),url('../images/image-1b.jpeg');
    background-size:110%;
    background-repeat: no-repeat;
    background-position: 0% 40%;
  }

  .mask {
    width: 100vw;
    height: 100vh;
    background-color: black;
    position: absolute;
  }

  .titles {
    margin: 0;
    padding: 1.1rem 0 0 3rem;
  }

  .main-title {
    margin: 0;
    font-size : 2.5rem;
    color: var(--red);
    font-weight: normal;
    opacity: 0;
    transform: translateY(30px);
    animation: apparition 0.8s 0.6s ease-out forwards;
  }

  .main-title > h1 {
    padding: 0;
    margin: 0;
  }

  .titles > h2 {
    margin: 0;
    padding-top: 0rem;
    font-size: 1.8rem;
    color: var(--white);
    opacity: 0;
    transform: translateY(30px);
    animation: apparition 0.6s 1s ease-out forwards;
  }

  .slide-2 {
    background-color: var(--red);
    display: flex;
    overflow-y: hidden;
  }

  #left-side-s2 {
    min-width: 45%;
    border-right: 0.08rem solid black;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
  
  #left-side-s2 > h2 {
    margin: 0;
    padding-left: 5%;
    font-size: 2rem;
    color: var(--white);
    font-family: playfairdisplay;
    font-weight: lighter;
  }
  
  #left-side-s2 > h1 {
    margin: 0;
    color: white;
    font-weight: normal;
    align-self: flex-end;
  }

  #right-side-s2 {
    width: 50%;
    padding: 0 12rem;
  }

.paragraph-s2 {
  font-family: playfairdisplay;
  font-size: 1rem;
  min-height: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.paragraph-s2 p {
  text-align: start;
  vertical-align: center;
}

.bottompage-s2 {
  display: flex;
  height: 20%;
}

.bottompage-s2 > h2 {
  color: var(--white);
  font-family: pathwaygothic;
  text-transform: uppercase;
  font-size: 6rem;
  margin: 0;
  width: 50%;
  font-weight: normal;
  letter-spacing: -0.4rem;

}

.bottompage-s2 > p {
  width: 50%;
  color: var(--white);
  font-family: playfairdisplay-italic;
}

.slide-3 {
background: url("../images/image-2.jpg");
background-size: cover;
}

.slide-4 {
  background-color: white;
  display: flex;
}

#left-side-s4 {
  min-width: 45%;
  border-right: 0.08rem solid var(--red);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

#left-side-s4 > h2 {
  margin: 0;
  padding-left: 5%;
  font-size: 2rem;
  color: var(--black);
  font-family: playfairdisplay;
  font-weight: lighter;
}

#left-side-s4 > h1 {
  margin: 0;
  color: var(--black)
  font-weight: normal;
  align-self: flex-end;
}


#right-side-s4 {
width: 50%;
padding: 0 9rem;
display: flex;
flex-direction: column;
justify-content: space-evenly;
}

.paragraph-s4 {
  font-family: playfairdisplay;
  font-size: 1rem;
  min-height: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.paragraph-s4 p {
  text-align: start;
  vertical-align: center;
  color: var(--red);
}

.bottompage-s4 {
  height: 10%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

#icon-s4 {
  height: 2rem;
  width: 2rem;
}

.slide-5 {
  background: url('../images/image-3.png');
  background-size: cover;
  }

.slide-6 {
  background-color: black;
  display: flex;

}

#left-side-s6 {
  min-width: 45%;
  border-right: 0.08rem solid var(--white);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

#left-side-s6 > h2 {
  margin: 0;
  padding-left: 5%;
  font-family: playfairdisplay;
  font-size: 2rem;
  color: var(--red);
  font-weight: lighter;
}

#left-side-s6 > h1 {
  margin: 0;
  color: var(--red);
  font-weight: normal;
  align-self: flex-end;
}


#right-side-s6 {
width: 50%;
padding: 0 9rem;
display: flex;
flex-direction: column;
justify-content: space-evenly;
}

.paragraph-s6 {
  font-family: playfairdisplay;
  font-size: 1rem;
  min-height: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.paragraph-s6 p {
  text-align: start;
  vertical-align: center;
  color: var(--white);
}

.bottompage-s6 {
  height: 10%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

#icon-6 {
  height: 2rem;
  width: 2rem;
}

.slide-7 {
  display: flex;
  flex-direction: row;

}

#left-side-s7 {
  width: 45%;
  background-image: url('../images/image-4.png');
  background-size:100%;
  background-repeat: no-repeat;
  background-position: 0% 56%;
  display: flex;
  justify-content: flex-start;
}

#left-side-s7 > p {
  font-family: 'playfairdisplay-italic';
  color: var(--white);
  width: 30%;
  padding: 0.5rem 0.5rem;
}

#right-side-s7 {
  width: 55%;
  background-image: url('../images/image-5.png');
  background-position: center;
  background-size: 108%;
  background-repeat: no-repeat;
  background-position: 101% 35%;
  display: flex;
  justify-content: flex-end;
}

#right-side-s7 > p {
  font-family: 'playfairdisplay-italic';
  width: 30%;
  padding: 0.5rem 0;
}

.slide-8 {
  background-color: var(--red);
  display: flex;
}

#left-side-s8 {
  min-width: 45%;
  border-right: 0.08rem solid var(--black);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

#left-side-s8 > h2 {
  margin: 0;
  padding-left: 5%;
  font-family: playfairdisplay;
  font-size: 2rem;
  color: var(--white);
  font-weight: lighter;
}

#left-side-s8 > h1 {
  margin: 0;
  color: var(--white);
  font-weight: normal;
  align-self: flex-end;
}

#right-side-s8 {
  width: 50%;
  padding: 0 9rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  }

  .paragraph-s8 {
    font-family: playfairdisplay;
    font-size: 1rem;
    min-height: 80%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content:center;
  }
  
  .paragraph-s8 p {
    text-align: start;
    vertical-align: center;
  }

  .bottompage-s8 {
    height: 10%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  
  #icon-8 {
    height: 2rem;
    width: 2rem;
  }

  .slide-9 {
    display: flex;
    flex-direction: row;
  
  }
  
  #left-side-s9 {
    z-index: 0;
    width: 45%;
    background-image: url('../images/image-6.png');
    background-size:93%;
    background-repeat: no-repeat;
    background-position: 0 34%;
    display: flex;
    justify-content: flex-start;
  }

  #middle-part-s9 {
    z-index: 1;
    margin: 2% 0 0 39%;
    position: absolute;
    display: flex;
    flex-direction: row;
    width: 33%;
    justify-content: space-around;
  }

  .middle-img-s9 {
    background-image: url('../images/image-7.png');
    background-size: cover;
    height: 12rem;
    width: 20rem;
  }

    .s9-text-2 {
    padding-left: 1%;
    width: 18%;
    font-family: playfairdisplay-italic;
    align-self: flex-start;
  }

  #right-side-s9 {
    z-index: 0;
    width: 55%;
    display: flex;
    flex-direction: column;
  }

  
  .upper-right-side-s9 {
    height: 40%;
    display: flex;
  }

  .bottom-right-side-s9 {
    height: 60%;
    display: flex;
    flex-direction: column;
  }

  .s9-text-1 {
    width: 25%;
    align-self: center;
    font-family: playfairdisplay-italic;
  }

  .s9-text-3 {
    padding-right: 15%;
    width: 25%;
    align-self: flex-end;
    font-family: playfairdisplay-italic;
  }

  .img2-s9 {
    background-image: url('../images/image-8.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    height: 80%;
    width: 100%;
  }

  .slide-10 {
    background-color: var(--black);
    display: flex;
  }
  
  #left-side-s10 {
    min-width: 40%;
    border-right: 0.08rem solid var(--white);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
  
  #left-side-s10 > h2 {
    margin: 0;
    padding-left: 5%;
    font-family: playfairdisplay;
    font-size: 2rem;
    color: var(--red);
    font-weight: lighter;
  }
  
  #left-side-s10 > h1 {
    margin: 0;
    color: var(--red);
    font-weight: normal;
    align-self: flex-end;
  }
  #right-side-s10 {
  width: 60%;
  padding: 0 3rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  }

  .paragraph-s10 {
  font-family: playfairdisplay;
  font-size: 1rem;
  min-height: 80%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  text-align: start;
  vertical-align: center;
  color: var(--white);
}

.paragraph-s10 > blockquote {
  font-family: playfairdisplay-italic;
}

.bottompage-s10 {
  height: 10%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}


.slide-11 {
  background: url('../images/image-9.png');
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: 0% 99%;
  }

  .slide-12 {
    background-color: var(--black);
    display: flex;
    flex-direction: row;
  }

  .s12-block1 {
    width: 30%;
    display: flex;
    justify-content: center;
    padding-top: 2%;
  }

  .s12-block2 {
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .s12-block3 {
    width: 10%;
    display: flex;
    justify-content: center;
    align-items: self-end;
    padding-bottom: 2%;
  }

  .s12-text {
    color: var(--white);
    width: 55%;
    font-family: playfairdisplay-italic;
  }

  .s12-img {
    background-image: url('../images/image-10.png');
    background-size: 100%;
    width: 90%;
    height: 90%;
    background-repeat: no-repeat;
  }

  #icon-s12 {
    height: 2rem;
    width: 2rem;
    cursor: pointer;
  }