/* Base styles */

@font-face {
    font-family: 'thenightwatch';
    src: url('../fonts/thenightwatch.ttf');
}

@font-face {
  font-family: 'playfairdisplay';
  src: url('../fonts/PlayfairDisplay.ttf');
}

@font-face {
  font-family: 'playfairdisplay-italic';
  src: url('../fonts/PlayfairDisplay-Italic.ttf');
}

@font-face {
  font-family: 'pathwaygothic';
  src: url('../fonts/PathwayGothicOne-Regular.ttf');
}

@font-face {
  font-family: 'glusp';
  src: url('../fonts/glusp.ttf');
}

@font-face {
  font-family: 'tempelgrotesk';
  src: url('../fonts/tempelgrotesk-wide.otf');
}

:root {
    --red: #D00000;
    --white: #F5F5F5;
    --black: #000000;
  }

body {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing : antialiased;
}


h1 {
  font-family: tempelgrotesk;
  text-transform: uppercase;
  letter-spacing: 0.15rem;
  font-size: 5vh;
}

.slide {
  height: 100vh;
  width: 100vw;
  }

.number {
  font-family: glusp;
  font-size: 40vmin;
  padding-right: 5%;
}

.slide-1 {
  background: linear-gradient(
    rgba(0, 0, 0, 0.07), 
    rgba(0, 0, 0, 0.07)
  ),url('../images/image-1b.jpeg');
  background-size: 210%;
  background-repeat: no-repeat;
  background-position: 20% 40%;
}

.titles {
  margin: 0;
  padding: 1.1rem 0 0 3rem;
}

.paragraph {
  font-family: playfairdisplay;
  font-size: 2vmin;
}

.main-title {
  margin: 0;
  font-size : 2.5rem;
  color: var(--red);
  font-weight: normal;
}

.main-title > h1 {
  padding: 0;
  margin: 0;
}

.sub-title {
  margin: 0;
  padding-top: 0rem;
  font-size: 3.5vmin;
  color: var(--white);
}

.slide-2 {
  background-color: var(--red);
  display: flex;
  flex-direction: column;
}

.section-title {
  font-family: playfairdisplay;
  font-weight: lighter;
  margin: 0;
  padding-top: 5%;
  font-size: 3.5vmin;
  align-self: flex-start;
}

.left-side-s2 {
  height: 40%;
  border-bottom: 0.08rem solid black;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

#overview {
    color: var(--white);
}

.left-side-s2 > h1 {
  margin: 0;
  color: white;
  font-weight: normal;
}

.right-side-s2 {
  height: 60%;
  padding: 0 12rem;
}

.caption {
  font-size: 1.8vmin;
}

.paragraph-s2 {
height: 80%;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
}

.bottompage-s2 {
display: flex;
height: 20%;
}

#paris {
color: var(--white);
font-family: pathwaygothic;
text-transform: uppercase;
font-size: 12vmin;
margin: 0;
width: 50%;
font-weight: normal;
letter-spacing: -0.4rem;
-webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
height: 12vmin;
}

.bottompage-s2 > p {
width: 50%;
color: var(--white);
font-family: monospace;
}

.char {
transform: translateY(12vmin);
transition: 0.4s; 
}

.slide-3 {
background: url("../images/image-2.jpg");
background-size: 222%;
background-repeat: no-repeat;
background-position: 42% 20%;
}

.slide-4 {
background-color: white;
display: flex;
flex-direction: column;
}

.left-side-s4 {
border-bottom: 0.08rem solid var(--red);
height: 40%;
display: flex;
justify-content: space-around;
align-items: center;
}

#conception {
color: var(--black);
}

.left-side-s4 > h1 {
margin: 0;
color: var(--black)
font-weight: normal;
align-self: flex-end;
}


.right-side-s4 {
height: 60%;
padding: 0 6rem;
display: flex;
flex-direction: column;
justify-content: space-evenly;
}

.paragraph-s4 {
height: 90%;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
color: var(--red);
}

.bottompage-s4 {
height: 10%;
display: flex;
justify-content: flex-end;
align-items: center;
}

#icon-s4 {
height: 4vmin;
width: 4vmin;
transform: rotate(90deg);
}

.slide-5 {
background: url('../images/image-3.png');
background-size: 70%;
background-repeat: no-repeat;
background-position: 50% 25%;
display: flex;
}

.s5-right-part {
  width: 100%;
  height: 50%;
  display: flex;
  justify-content: flex-start;
  align-self: self-end;
  }

.s5-text {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  padding-left: 15%;
}

.s5-text > ul {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  line-height: 4.5vmin;
  padding: 0;
  margin: 0;
  font-weight: 1000;
  font-family: 'thenightwatch';
  font-size: 17vmin;
  justify-content: center;
}

.s5-text > p {
  font-family: monospace;
  padding-left: 1%;
}

.date {
  transform: translateY(-30px);
  transition: 0.4s;
}

.slide-6 {
background-color: black;
display: flex;
flex-direction: column;

}

.left-side-s6 {
border-bottom: 0.08rem solid var(--white);
height: 40%;
display: flex;
justify-content: space-around;
align-items: center;
}

#construction {
color: var(--red);
}

.left-side-s6 > h1 {
margin: 0;
color: var(--red);
font-weight: normal;
align-self: flex-end;
}

.right-side-s6 {
height: 60%;
padding: 0 6rem;
display: flex;
flex-direction: column;
justify-content: space-evenly;
}

.paragraph-s6 {
height: 90%;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
color: var(--white);
}

.bottompage-s6 {
height: 10%;
display: flex;
justify-content: flex-end;
align-items: center;
}

#icon-6 {
height: 4vmin;
width: 4vmin;
transform: rotate(90deg);
}

.slide-7 {
display: flex;
flex-direction: column;
background-color: #000000;

}

.left-side-s7 {
height: 50%;
background-image: url('../images/image-4.png');
background-size: 53%;
background-repeat: no-repeat;
display: flex;
justify-content: flex-start;
}

.left-side-s7 > p {
font-family: monospace;
color: var(--white);
width: 30%;
padding: 1% 0 0 3%;
}

.right-side-s7 {
height: 50%;
background-image: url('../images/image-5.png');
background-position: center;
background-size: 68%;
background-repeat: no-repeat;
background-position: 101% 35%;
display: flex;
justify-content: center;
}

.right-side-s7 > p {
font-family: monospace;
width: 30%;
}

.slide-9 {
  display: flex;
  flex-direction: column;
}

.left-side-s9 {
  height: 50%;
  background-image: url('../images/image-6.png');
  background-size: 62%;
  background-repeat: no-repeat;
  background-position: 60% 34%;
  display: flex;
  justify-content: flex-start;
  border: 2vmin solid white;
}

.middle-part-s9 {
  height: 20%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.middle-img-s9 {
  background-image: url('../images/image-7.png');
  background-size: cover;
  height: 21vmin;
  width: 45vmin;
}

  .s9-text-2 {
  padding-left: 1%;
  width: 18%;
  font-family: monospace;
  align-self: flex-start;
}

.right-side-s9 {
  height: 40%;
}

.upper-right-side-s9 {
  display: none;
}

.bottom-right-side-s9 {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.s9-text-1 {
  width: 25%;
  align-self: center;
  font-family: monospace;
}

.s9-text-3 {
  font-family: monospace;
  width: 25%;
}

.img2-s9 {
  background-image: url('../images/image-8.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  width: 70%;
  height: 70%;
} 

.slide-10 {
  background-color: var(--black);
  display: flex;
  flex-direction: column;
}

.left-side-s10 {
  border-bottom: 0.08rem solid var(--white);
  height: 40%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

#legacy {
  color: var(--red);
}

.left-side-s10 > h1 {
  margin: 0;
  color: var(--red);
  font-weight: normal;
  align-self: flex-end;
}

.right-side-s10 {
height: 60%;
padding: 0 3rem;
display: flex;
flex-direction: column;
justify-content: space-evenly;
}

.paragraph-s10 {
height: 90%;
display: flex;
flex-direction: column;
align-items: flex-start;
justify-content: center;
color: var(--white);
line-height: 2.1vmin;
}

blockquote {
font-family: playfairdisplay-italic;
letter-spacing: 0.1vmin;
}

.bottompage-s10 {
height: 10%;
display: flex;
justify-content: flex-end;
align-items: center;
}


.slide-11 {
background: url('../images/image-9.png');
background-size: 230%;
background-repeat: no-repeat;
background-position: 55% 45%;
}

.slide-12 {
  background-color: var(--black);
  display: flex;
  flex-direction: column;
}

.s12-block1 {
  height: 20%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.s12-block2 {
  height: 60%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.s12-block3 {
  height: 20%;
  display: flex;
  justify-content: end;
  align-items: end;
  padding: 0 5% 5% 0;
}

.s12-text {
  color: var(--white);
  width: 55%;
  font-family: monospace;
  padding-left: 5%;
}

.s12-img {
  background-image: url('../images/image-10.png');
  background-size: 100%;
  width: 90%;
  height: 90%;
  background-repeat: no-repeat;
}

#icon-s12 {
  display: none;
  height: 5vmin;
  width: 5vmin;
  cursor: pointer;
}

#icon-s12:hover {
  display: none;
  transform: scale(1.1);
  transition: all .4s ease;
}

#icon-s12-up {
  height: 5vmin;
  width: 5vmin;
  cursor: pointer;
}

#icon-s12:hover {
  transform: scale(1.1);
  transition: all .4s ease;
}
